@charset "UTF-8";
@import 'color.css';
@import 'font.css';

/*1.topTitle*/
/*2.mnFace*/
/*3.menuBtn*/
/*4.intro*/
/*5.inform*/
/*6.campImg*/

/* 전체 레이아웃*/
.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(700px, 3fr) 1fr;
  grid-template-rows: 120px 300px 40px minmax(70px, auto) 300px 400px;
  grid-template-areas:
    'topTitle-l    topTitle-c     topTitle-r'
    '.             mnFace                  .'
    '.             menuBtn                 .'
    '.             intro                   .'
    '.             inform                  .'
    '.             campImg                 .';
}

/* 레이아웃 요소 배치 */
.topTitle-l {
  grid-area: topTitle-l;
}
.topTitle-c {
  grid-area: topTitle-c;
}
.topTitle-r {
  grid-area: topTitle-r;
}

.mnFace {
  grid-area: mnFace;
}

.menuBtn {
  grid-area: menuBtn;
}

.intro {
  grid-area: intro;
}

.inform {
  grid-area: inform;
}

.campImg {
  grid-area: campImg;
}
