@charset "UTF-8";
@import 'color.css';
@import 'font.css';

/* 1.topTitle 2.mnFace 3.menuBtn 4.intro 5.inform 6.campImg */

/* 1.topTitle */

.topTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 2.mnFace */

.mnFace {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* 2-2.mnFace-r */
.mnFace-r table {
  background-color: yellow;
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}
.mnFace-r tr {
  display: block;
  float: left;
}
.mnFace-r th,
td {
  display: block;
}

/* 3.menuBtn */
.menuBtn .tab {
  display: none;
}
.menuBtn label {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}
.menuBtn label:hover {
  cursor: pointer;
}

/* 4.intro */

/* 5.inform */
.inform .items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  position: relative;
  gap: 20px;
  padding: 20px 0 20px 0;
}
.inform .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 6. campImg */
.campImg .img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
